html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: #fff;
  font-family: arial;
  font-size: 14px;
}
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.nuts-logo {
  margin: 105px 0 30px 0;
}
.nuts-logo a {
  text-decoration: none;
  color: #eeee22;
}
nav .menu {
  background-color: #a5d5a3;
  padding: 0px 14px;
  border-radius: 30px;
  position: relative;
}
nav .menu li {
  display: inline-block;
  position: relative;
  padding: 0;
}
nav .menu li:hover {
  background: #b1c8b0;
}
nav .menu li a,
nav .menu li a:hover,
nav .menu li a:visited,
nav .menu li a:active {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  display: block;
}
nav .menu li a:hover {
  text-decoration: underline;
}
nav .menu li ul {
  display: none;
  position: absolute;
  background: #b1c8b0;
  padding: 10px 0 20px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav .menu li:hover ul {
  display: block;
}
nav .menu li:hover ul li {
  position: relative;
}
nav .menu li:hover ul li a {
  padding: 10px 32px;
  display: block;
  min-width: 100px;
  text-decoration: none;
  position: relative;
}
nav .menu li:hover ul li a:hover {
  background: #94b392;
}
nav .menu li:hover ul li.menu-item-has-children > a:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #ffffff;
  display: inline-block;
  position: absolute;
  right: 12px;
}
nav .menu li:hover ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: -20px;
  border-radius: 15px;
  padding: 20px 0;
}
nav .menu li:hover ul li:hover ul {
  display: block;
}
nav .menu li:hover ul li:hover ul li ul {
  display: none;
}
nav .menu li:hover ul li:hover ul li:hover ul {
  display: block;
}
h1 {
  color: #eeee22;
  font-size: 32px;
  font-weight: bold;
}
