* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.one-quarter {
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  box-sizing: border-box;
}
.one-quarter:first-child {
  padding-left: 0%;
}
.one-quarter:last-child {
  padding-right: 0%;
}
/*
TABLE OF CONTENTS
-----------------
1. Page Layout
2. Common Elements
3. Header
4. Content Area
5. Sidebar
6. Footer
*/
* {
  font-family: arial;
}
body {
  background: #fff;
  font-family: arial;
  font-size: 14px;
  color: #666666;
}
p {
  line-height: 1.8em;
  margin-bottom: 1.8em;
}
#wrapper {
  padding-bottom: 125px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
#contentWrapper {
  width: 70%;
  margin-right: 11%;
  float: left;
}
#right-sidebar {
  width: 19%;
  float: left;
}
.clearfix {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3366aa;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
  margin: 32px 0 28px;
}
h2 {
  font-size: 20px;
  margin: 32px 0 28px;
}
h3 {
  font-size: 18px;
  margin: 32px 0 28px;
}
h4 {
  font-size: 16px;
  margin: 32px 0 28px;
}
h5 {
  font-size: 14px;
  margin: 32px 0 28px;
}
h6 {
  font-size: 14px;
  color: #666666;
  margin: 32px 0 28px;
}
a {
  color: #999;
  text-decoration: underline;
}
hr {
  border: 2px solid #1e73be;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 3px;
}
.nuts-logo {
  margin: 40px 0 30px 0;
}
.nuts-logo a {
  text-decoration: none;
  color: #3366aa;
}
nav .menu {
  background-color: #1e73be;
  color: #fff;
  padding: 0 14px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 45px;
}
nav .menu li {
  display: inline-block;
  position: relative;
  padding: 0;
}
nav .menu li:hover {
  background: #3472a8;
}
nav .menu li a,
nav .menu li a:hover,
nav .menu li a:visited,
nav .menu li a:active {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  display: block;
}
nav .menu li a:hover {
  text-decoration: underline;
}
nav .menu li ul {
  display: none;
  position: absolute;
  background: #3472a8;
  padding: 10px 0 20px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav .menu li:hover ul {
  display: block;
}
nav .menu li:hover ul li {
  position: relative;
}
nav .menu li:hover ul li a {
  padding: 10px 32px;
  display: block;
  min-width: 100px;
  text-decoration: none;
  position: relative;
}
nav .menu li:hover ul li a:hover {
  background: #285781;
}
nav .menu li:hover ul li.menu-item-has-children > a:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #ffffff;
  display: inline-block;
  position: absolute;
  right: 12px;
}
nav .menu li:hover ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: -20px;
  border-radius: 15px;
  padding: 20px 0;
}
nav .menu li:hover ul li:hover ul {
  display: block;
}
nav .menu li:hover ul li:hover ul li ul {
  display: none;
}
nav .menu li:hover ul li:hover ul li:hover ul {
  display: block;
}
.postmeta {
  background-color: #1e73be;
  color: #fff;
  padding: 6px 14px;
  border-radius: 30px;
  display: inline-block;
}
.pagination {
  margin-top: 80px;
}
#content a {
  color: #1e73be;
}
#content img.aligncenter {
  margin-top: 16px;
  margin-bottom: 16px;
}
#content img.alignleft {
  margin-right: 16px;
  margin-bottom: 16px;
}
#content img.alignright {
  margin-left: 16px;
  margin-bottom: 16px;
}
#content .featimage img {
  margin: 0;
}
.widget ul li {
  margin-bottom: 1.2em;
  display: block;
}
.widget ul li ul li {
  margin-left: 1em;
  margin-top: .6em;
}
.sidebar .widget {
  margin-bottom: 45px;
  padding: 0 13px;
  font-size: 12px;
}
.sidebar .widget .searchform {
  border: 2px solid #1e73be;
  border-radius: 30px;
  margin: 0 -13px;
  padding: 2px 3px 3px;
}
.sidebar .widget .searchform input[type=text] {
  border: none;
  width: 70%;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  color: #999;
  margin-left: 7px;
  padding: 3px;
}
.sidebar .widget .searchform input[type=submit] {
  background-color: #1e73be;
  color: #fff;
  padding: 0px 4px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  font-family: arial;
  font-size: 12px;
  float: right;
  padding: 3px 4px 2px;
}
.sidebar .widget .widgettitle {
  background-color: #1e73be;
  color: #fff;
  padding: 7px 14px;
  border-radius: 30px;
  font-weight: bold;
  margin: 0px -13px 40px;
  font-size: 14px;
}
footer {
  background-color: #e8e8e8;
  min-height: 20px;
  clear: both;
  padding-top: 30px;
  padding-bottom: 90px;
}
footer .wrapper {
  display: table;
}
footer .column {
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  box-sizing: border-box;
  border-right: 2px solid #d7d7d7;
  display: table-cell;
  float: none;
}
footer .column:first-child {
  padding-left: 0%;
}
footer .column:last-child {
  padding-right: 0%;
}
footer .column:last-child {
  border-right: none;
}
footer .widget {
  font-size: 12px;
}
footer .widgettitle {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 25px;
}
footer p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
footer .simple_tweet_widget a {
  vertical-align: top;
}
footer .simple_tweet_widget img {
  display: inline-block;
  width: 34px;
  margin-right: 14px;
}
footer .simple_tweet_widget .tweets {
  display: inline-block;
  max-width: 170px;
}
footer .simple_tweet_widget .tweet-time {
  display: inline-block;
  margin-top: 10px;
}
